* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

svg{
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
}

.pinpointModal,
.connectModal {
    display: flex;
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border: 1px solid black;
    border-radius: .5rem;
}

.pinpointModal::before {
    content: "";
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("asset/pinpoint.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
    bottom: -80%;
}

.topForm {
    display: flex;
    justify-content: space-between;
}

.active {
    stroke-dasharray: 1rem;
    animation: runningStroke 1s linear infinite;
}

@keyframes runningStroke {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 100;
    }
}

#connectForm {
    display: flex;
    flex-direction: column;
}

.hide {
    display: none !important;
}